@import "tailwindcss";

body {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  color: #f8f8f8;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* very thin */
  height: 6px; /* horizontal scrollbar if any */
}
::-webkit-scrollbar-track {
  background: transparent; /* hide the track */
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); /* almost invisible */
  border-radius: 10px;
}
/* Optional: hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}
