.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectDiv {
  width: 740px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  padding: 0px 30px;
  gap: 10px;
}

@media (max-width: 480px) {
  .projectDiv {
    width: 385px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    gap: 0;
  }
}
