@import "tailwindcss";
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1a1a1a;
  scroll-behavior: smooth;
  color: #ffffff;
  width: 100vw;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}