@import "tailwindcss";
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('/public/bg.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
}